.admin-container {
  .menu {
    height: 100vh;
  }
  .collapsed-button {
    font-size: 16px;
    height: 64px;
    width: 64px;
  }
  .header-content {
    position: absolute;
    right: 0px;
    top: -2px;
    font-weight: 600;
    margin-right: 5px;
    .btn-logOut {
      width: 64px;
      height: 64px;
      margin-left: 10px;
      &:hover {
        background-color: #b2ddff;
      }
    }
  }
}
